$line-height: 0.15rem;

.burger {
  display: block;
  width: 1.8rem;
  height: 1.5rem;
  position: relative;
  border: none;
  z-index: 100;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0rem;
    right: 0;
    background-color: $white-color;
    height: $line-height;
    transition: all 0.3s ease-out;
  }

  &::after {
    bottom: 0rem;
  }

  &::before {
    top: 0rem;
  }

  &__button-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white-color;
    height: $line-height;
    transition: all 0.3s ease-out;
  }
}
