.contacts {
  padding-bottom: 1rem;
  &__container {
    position: relative;
    padding: 1rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5rem;
      right: 0;
      bottom: 2rem;
      border: 1px solid $white-color;
      z-index: -1;
    }
  }
  &__black {
    position: absolute;
    top: 4rem;
    z-index: -1;
    background-color: $black-color;
    left: 50%;
    height: 5.5rem;
    width: 260px;
    transform: translateX(-50%);
  }
  &__title {
    text-align: center;
  }
  &__image {
    margin-bottom: 1rem;
  }
  &__content {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__location-image {
    width: 3rem;
  }
  &__white-text {
    background-color: $white-color;
    color: $black-color;
    text-transform: uppercase;
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
  }
}
