@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("../assets/fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Bold.woff2") format("woff2"),
    url("../assets/fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caravan";
  src: url("../assets/fonts/Caravan.woff2") format("woff2"),
    url("../assets/fonts/Caravan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}