.header {
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: $black-color;
  padding: .5rem 0;
  height: 50px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    @include points(40px, 2px, 11, 2);
    width: 80%;
  }
  &__burger {
    margin-top: 8px;
  }
}
