.hero {
  position: relative;
  height: 600px;
  padding-top: 0.4rem;
  &__container {
    height: 100%;
    position: relative;
  }
  &__points {
    @include points(40px, 2px, 11, 2);
    width: 80%;
    margin-bottom: 2rem;
  }
  &__title {
    position: absolute;
    text-transform: uppercase;
    z-index: 10;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
    bottom: 2rem;
    left: -4rem;
    text-align: center;
    margin: 0;
    & span {
      display: inline-block;
      padding: 0.3rem 1rem;
      background-color: $black-color;
    }
  }
  &__content {
    position: relative;
    background-color: #484444;
    width: 90%;
    height: 450px;
    margin-left: auto;
    &::after {
      position: absolute;
      content: "Elizaveta Andreeva";
      font-weight: bold;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-size: 1rem;
      transform: rotate(-90deg);
      top: 7.45rem;
      left: -9rem;
    }
  }
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__image {
    position: absolute;
    margin-top: auto;
    width: 3rem;
    height: 4rem;
    right: calc(100% - 16px);
    top: 100%;
  }
}
